<!--The content below is only a placeholder and can be replaced.-->
<!--Navbar-->
<mdb-navbar SideClass="navbar sticky-top navbar-expand-lg navbar-dark indigo">

    <!-- Navbar brand -->
    <logo>
        <a class="navbar-brand" href="#">M2 Connect</a>
    </logo>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">

            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    Services
                    <span class="caret"></span>
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Social Media Marketing</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Website Design</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Graphics Design</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbWavesEffect>Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Contact Us</a>
            </li>

        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
<main>
    <mdb-carousel [isControls]="true" [animation]="'slide'">
        <!--First slide-->
        <mdb-slide>
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="First slide">
        </mdb-slide>
        <!--/First slide-->
        <!--Second slide-->
        <mdb-slide>
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" alt="Second slide">
        </mdb-slide>
        <!--/Second slide-->
        <!--Third slide-->
        <mdb-slide>
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Third slide">
        </mdb-slide>
        <!--/Third slide-->
    </mdb-carousel>

    <!--Card-->
    <div class="card m2connect-card1">
        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title">About Us</h4>
            <!--Text-->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a class="btn btn-primary waves-light" mdbWavesEffect>Read More</a>
        </div>
    </div>
    <!--/.Card-->
    <!--Card-->
    <div class="card m2connect-card2">
        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Services</h4>
            <!--Text-->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a class="btn btn-primary waves-light" mdbWavesEffect>Read More</a>
        </div>
    </div>
    <!--/.Card-->
    <!--Card-->
    <div class="card m2connect-card3">
        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Portfolio</h4>
            <!--Text-->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a class="btn btn-primary waves-light" mdbWavesEffect>Read More</a>
        </div>
    </div>
    <!--/.Card-->
    <!--Card-->
    <div class="card m2connect-card4">
        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Contact Us</h4>
            <!-- contact form -->
            <form [formGroup]="contactForm">
                <p class="h5 text-center mb-4">Write to us</p>

                <div class="md-form">
                    <i class="fa fa-user prefix grey-text"></i>
                    <input type="text" id="contactFormName" formControlName="contactFormName" class="form-control" mdbInputDirective>
                    <label for="contactFormName">Your name</label>
                </div>

                <div class="md-form">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="email" id="contactFormEmail" formControlName="contactFormEmail" class="form-control" mdbInputDirective>
                    <label for="contactFormEmail">Your email</label>
                </div>

                <div class="md-form">
                    <i class="fa fa-tag prefix grey-text"></i>
                    <input type="text" id="contactFormSubject" formControlName="contactFormSubject" class="form-control" mdbInputDirective>
                    <label for="contactFormSubject">Subject</label>
                </div>

                <div class="md-form">
                    <i class="fa fa-pencil prefix grey-text"></i>
                    <textarea type="text" id="contactFormMessage" formControlName="contactFormMessage" class="md-textarea" style="height: 100px"
                        mdbInputDirective></textarea>
                    <label for="contactFormMessage">Your message</label>
                </div>

                <div class="text-center">
                    <button class="btn btn-unique waves-light" (click)= "saveContactInfo()" mdbWavesEffect>Send
                        <i class="baseline-send icon-image-preview"></i>
                    </button>
                </div>
            </form>
            <!-- contact form -->
        </div>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
          
              <!-- Position Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.contactFormName}} </td>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.contactFormEmail}} </td>
              </ng-container>
          
              <!-- Weight Column -->
              <ng-container matColumnDef="subject">
                <th mat-header-cell *matHeaderCellDef> Subject </th>
                <td mat-cell *matCellDef="let element"> {{element.contactFormSubject}} </td>
              </ng-container>
          
              <!-- Symbol Column -->
              <ng-container matColumnDef="message">
                <th mat-header-cell *matHeaderCellDef> Message </th>
                <td mat-cell *matCellDef="let element"> {{element.contactFormMessage}} </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
    </div>
    <!--/.Card-->


</main>